@import '../../styles/variables.scss';

.containerFooter{
    background-color: $color-black2;
    height: $space-xxl;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    p{
        font-size: $space-s;
        font-weight:$font-weight-m;

    }
    a{
        margin: 8px;
        color: $color-white;
        text-decoration: none;
    }
}